---
layout: layouts/base.njk
pageTitle: Page Not Found
permalink: 404.html
---
<h1>Page not found.</h1>

<div class="d-flex flex-row justify-content-center">
    <a href="/" class="big-button">&#8592; Back to Blog</a>
</div>
