---
layout: layouts/base.njk
pageTitle: Articles Archive - Binary Barbarian
topTitle: Articles Archive
---

{% set posts = collections.posts | reverse | head(10) %}
{% for post in posts %}
  <div class="post-item mb-3">
    <p class="post-date mb-0">{{ post.data.publishedDate }}</p>
    <h3 class="font-sans break-normal text-black pt-6 pb-2">
      <a class="text-teal" href="{{ post.url }}">{{ post.data.pageTitle }}</a>
    </h3>
  </div>
{% endfor %}

<br>

<div class="d-flex flex-row justify-content-center">
    <a href="/" class="small-button">&#8592; Back to Blog</a>
</div>
