---
layout: layouts/base.njk
pageTitle: Binary Barbarian
---

<div class="top-article">
    <h2 class="text-center">My Latest Article</h2>
    {% set latest_post = collections.posts | last %}
    <h3><a href="{{ latest_post.url }}">{{ latest_post.data.pageTitle }}</a></h3>
    <p class="text-right">Read all my posts in the <a href="/archive">Archive</a></p>
</div>

<h2 class="text-center">Web Log</h2>

{% set entries = weblog | head(10) %}
{% include "weblog_entries_list.njk" %}

<div class="d-flex flex-row justify-content-center">
    <a href="/weblog_archive" class="big-button">Web Log Archive &#8594;</a>
</div>
