---
layout: layouts/base.njk
pageTitle: Weblog Archive - Binary Barbarian
topTitle: Weblog Archive
---

{% set entries = weblog %}
{% include "weblog_entries_list.njk" %}

<br>

<div class="d-flex flex-row justify-content-center">
    <a href="/" class="small-button">&#8592; Back to Blog</a>
</div>
