{% for entry in entries %}
<div class="pb-6 text-sm text-grey-darkest">
  <span class="text-grey-dark">{{ entry.date }}:</span>
  <a class="text-teal" href="{{ entry.url }}">{{ entry.title }}</a>
  {%- if entry.comment -%}
    <br>{{ entry.comment | md | safe }}
  {%- endif -%}
</div>
{% endfor %}
