{% for entry in entries %}
<div class="log-entry">
    <div class="entry-date float-right">{{ entry.date }}</div>
    <h3>
      {%- if entry.url -%}
        <a href="{{ entry.url }}" title="{{ entry.title }}">{{ entry.title }}</a>
      {%- else -%}
        {{ entry.title }}
      {%- endif -%}
    </h3>
    {%- if entry.comment -%}
      <p class="comment">{{ entry.comment | md | safe }}</p>
    {%- endif -%}
</div>
{% endfor %}
