<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Binary Barbarian</title>
    <meta name="author" content="name">
    <meta name="description" content="Michal Valasek's blog">
    <meta name="keywords" content="web,development,ruby,rails,javascript">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% set css %}
      {% include "css/main.css" %}
      {% include "css/prism-ghcolors.css" %}
    {% endset %}
    <style>{{ css | cssmin | safe }}</style>
</head>
<body class="d-flex flex-column h-100">

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar flex-row justify-content-center">
        <a href="/">
            <img src="/images/logo.png" class="img-fluid" alt="Binary Barbarian" />
        </a>
      </nav>
    </header>

    <main role="main" class="flex-shrink-0">
      <div class="container">
        {% if topTitle -%} <h1 class="top-title text-center">{{ topTitle }}</h1> {% endif %}

        {{ content | safe }}
      </div>
    </main>

    <footer class="footer mt-auto py-3">
      <div class="container">
        <div class="row mb-3">
            <div class="col-8 d-flex flex-row align-items-center">
                <img class="rounded-circle mr-3" src="https://www.gravatar.com/avatar/da002d4de2dc00e4676001d0d398644f" alt="Avatar of Author" width="50" height="50">
                <h4>Michal Valášek</h4>
            </div>
            <div class="col-4 d-flex flex-column justify-content-center">
                <h4>Links</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <p id="about-me">Remoting software engineer @ <a href="https://www.leadfeeder.com" title="Leadfeeder">Leadfeeder</a> armed with Ruby as the main weapon but Python, Javascript, Elixir and Clojure close at hand. Always learning, father of two, living in Piestany ❤️. Loves good coffee in the morning and dewy pilsner after good run. Boards & ukes 4ever 🛹.</p>
            </div>
            <div class="col-4">
                <a href="http://michalvalasek.com" title="Home Page" class="footer-link">Home Page</a>
                <a href="https://ruby.social/@fuji" title="Mastodon account" class="footer-link">Mastodon</a>
            </div>
        </div>

      </div>
    </footer>

    <script>(function(){ window.ldfdr = window.ldfdr || {}; (function(d, s, ss, fs){ fs = d.getElementsByTagName(s)[0]; function ce(src){ var cs = d.createElement(s); cs.src = src; setTimeout(function(){fs.parentNode.insertBefore(cs,fs)}, 1); } ce(ss); })(document, 'script', 'https://lftracker.leadfeeder.com/lftracker_v1_bElvO73jZjM8ZMqj.js'); })();</script>
</body>
</html>
