---
layout: layouts/base.njk
---

<h1 class="post-title">{{pageTitle}}</h1>

<p class="text-right post-date">Published {{ publishedDate }}</p>

{{ content | safe }}

<br>

<div class="d-flex flex-row justify-content-center">
    <a href="/" class="small-button">&#8592; Back to Archive</a>
</div>
